{% extends 'Admin/base.html.twig' %}

{% block title %}{% trans %}Profile{% endtrans %}{% endblock %}

{% block body %}
    <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="emailModalLabel">{% trans %}Change Email{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('change_email') }}" method="post">
                    <div class="modal-body">
                        <input type="email" name="email" class="form-control" placeholder="your@email.com" required>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-outline-secondary">{% trans %}Save{% endtrans %}</button>
                            <button type="button" class="btn btn-outline-danger"
                                    data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="passwordModalLabel">{% trans %}Change Password{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('change_password') }}" method="post">
                    <div class="modal-body">
                        <label for="old-password">{% trans %}Old Password{% endtrans %}</label>
                        <input type="password" id="old-password" name="old-password" class="form-control"
                               placeholder="{% trans %}password{% endtrans %}" required>
                        <label for="new-password">{% trans %}New Password{% endtrans %}</label>
                        <input type="password" id="new-password" name="new-password" class="form-control"
                               placeholder="{% trans %}password{% endtrans %}" required>
                        <label for="new-password-2">{% trans %}Repeat New Password{% endtrans %}</label>
                        <input type="password" id="new-password-2" name="new-password-2" class="form-control"
                               placeholder="{% trans %}password{% endtrans %}" required>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-outline-secondary">{% trans %}Save{% endtrans %}</button>
                            <button type="button" class="btn btn-outline-danger"
                                    data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <h2 class="border-bottom">{% trans %}Profile{% endtrans %}</h2>
    <dl class="row">
        <dt class="col-sm-3">{% trans %}Username{% endtrans %}</dt>
        <dd class="col-sm-9">{{ user.username }}</dd>

        <dt class="col-sm-3">{% trans %}Email{% endtrans %}</dt>
        <dd class="col-sm-9">{{ user.email }}</dd>
    </dl>
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#emailModal">
            {% trans %}Change Email{% endtrans %}
        </button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#passwordModal">
            {% trans %}Change Password{% endtrans %}
        </button>
    </div>
{% endblock %}
