<h4>Download registrations</h4>
<a class="btn btn-primary" href="#">Single Workshop</a> {#TODO#}
<a class="btn btn-primary" href="#">Single Category</a> {#TODO#}
<a class="btn btn-primary" href="{{ path('download_registrations_event', {'eventId': event.id}) }}">All</a>
