{% extends 'base.html.twig' %}

{% block nav %}
    {% if is_granted('ROLE_USER') %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block footer %}
<footer class="my-5 pt-5 text-muted text-center text-small">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="{{ render(controller('App\\Controller\\LanguageController::changeLanguage', {'language': 'en'})) }}">
                <span class="flag-icon flag-icon-gb"></span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="{{ render(controller('App\\Controller\\LanguageController::changeLanguage', {'language': 'lt'})) }}">
                <span class="flag-icon flag-icon-lt"></span>
            </a>
        </li>
    </ul>
</footer>
{% endblock %}
