{% extends 'Default/base.html.twig' %}

{% block title %}{% trans %}Please choose registration type{% endtrans %}{% endblock %}

{% block body %}
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{% trans %}Please choose registration type{% endtrans %}</h1>
        <a class="btn btn-lg btn-primary"
           href="{{ path('registration_simple', {'timeId': timeId}) }}">{% trans %}Regular registration{% endtrans %}</a>
        <a class="btn btn-lg btn-primary"
           href="{{ path('registration_multi', {'timeId': timeId}) }}">{% trans %}Group registration{% endtrans %}</a>
    </div>
{% endblock %}
