{% extends 'base.html.twig' %}

{% block title %}{% trans %}Index{% endtrans %}{% endblock %}

{% block body %}
<div class="container text-center">
    <h1 class="cover-heading mt-5">RengForm</h1>
    <h2 class="cover-heading">{% trans %}Registrations management system{% endtrans %}</h2>
    <p class="lead">RengForm is a registrations management system build specifically for events with multiple sub-events, lectures or workshops that all require separate registration. To cope with thet we build a system that allows you to build one or several registration forms and reuse them for all sub-events and even share them between events.</p>
</div>
{% endblock %}
